
<body class='background-image'>

   <div id="one">
    <h1 id="welcome", style="color: yellow"> Welcome to the 2016 Grand Slam Season!</h1>
   </div>
    <h2 id="sign", style="color: white">SIGN UP or SIGN IN</h2>

<h2><%= link_to 'TOURNAMENTS', '/tournaments' %></h2>

</body>










