

<% @tournaments.each do |tournament| %>

  <div class='photos'>

    <a href="/players"> <img class='tournament-photo' src="<%= tournament[:photo] %>" ></a>
  </div>


    <h2><%= link_to tournament[:name], '/players' %></h2> <br>

    <br>
<% end %>








