// "bootstrap-sprockets" must be imported before "bootstrap" for the icon fonts to work.
@import "bootstrap-variables.scss";
@import "bootstrap-custom-variables.scss";
@import "bootstrap-sprockets.scss";
@import "bootstrap.scss";

body {
  padding-top: $navbar-height + 10px;
}

.page-header {
  a.btn {
    float: right;
  }

  a.btn + a.btn {
    margin-right: 8px;
  }
}

input[type="radio"], input[type="checkbox"] {
  width: initial;
  height: initial;
  margin-top: 7px;
}

main {
  margin: 20px auto;
  width: 800px;
}

.tournament-photo {
  width: 100%;
  margin: 0px auto;
  //border: 2px solid white;
}

.tourneyname {
  margin-left: 50%;
  width: 100%;
  //clear: left;
  border: 2px solid black;
}

.photos {
  //clear: left;
  width: 30%;
  //border: 2px solid red;
  margin: 0px auto;
}

.background-image {
  width: 450px;
  height: 450px;
  background-size: cover;
  background-image: url(https://i.guim.co.uk/img/media/d3a414b52f70acee01e0732e9161548f5b3fe9fe/0_0_5036_3357/master/5036.jpg?w=700&q=85&auto=format&sharp=10&s=9a6d743a40534d131af0f7e9d1a6c059);
  background-repeat: no-repeat;
  background-position: center;
}
#one {
  width: 100%;
  height: 85px;
  margin-left: 7%;
  background-color: #000099;
  border-radius: 15px;
  padding-top: 0.25%;
}

#welcome {
  text-align: center;
  width: 100%;
  // border: 2px solid red;
}

#sign {
  width: 100%;
  text-align: center;
}

#tournaments-page {
  background-color: #ff6600;
}

#GS-name-tourney-page {
  width: 100%;
  //border: 2px solid green;
  text-align: center;
}

#players-page {
  background-color: #ffff66;
}

#admins-page {
  background-color: #99ff66;
}

#admins-two {
  float: left;
  clear: left;
}

#admins-three {
  float: right;
  clear: right;
}

#mens-draw {
  margin-left: 18%;
  //border: 2px solid purple;
  float: left;
  clear: left;
  margin-bottom: 25px;
}

#womens-draw {
  margin-right: 18%;
  //border: 2px solid red;
  float: right;
  clear: right;
    margin-bottom: 25px;
}

#men-players {
  margin-left: 3%;
  width: 45%;
  //border: 2px solid white;
  float: left;
  clear: left;
  margin-bottom: 50px;
}

#women-players {
  margin-right: 3%;
  width: 45%;
  //border: 2px solid blue;
  float: right;
  clear: right;
  margin-bottom: 50px;
}

#players-by-country {


}








